<div class="navbar-fixed black">
<nav>
<div class="nav-wrapper black">
	<a href="#!" class="brand-logo"><i class="material-icons">high_quality</i>PicHippie</a>
	<ul class="right hide-on-med-and-down">
		<li>
		<form>
        	<div class="input-field">
          	<input id="search" type="search" placeholder="Search" required>
        	<label class="label-icon" for="search"><i class="material-icons">search</i></label>
        	<i class="material-icons">close</i>
        	</div>
      	</form>
		</li>
		<li><a href="#"><i class="material-icons">view_module</i></a></li>
		<li><a href="#"><i class="material-icons">refresh</i></a></li>
		<li><a href="#"><i class="material-icons">more_vert</i></a></li>
	</ul>
</div>	
</nav>
</div>
