<div class="container">
  <div class="row">
    <div class="col s3">
      <p>name is <%=@image['photographer']%></p>
      <img src=<%= get_image(@image['url']) %> alt ="pexels.com" style="width:500px;height:500px;">
    </div>
  </div> 
</div>